BackEnd/node_modules
BackEnd/data/database/*
!BackEnd/data/database/README
BackEnd/build/
BackEnd/node_modules
BackEnd/data/log/*
!BackEnd/data/log/README
FrontEnd/build
FrontEnd/node_modules

BackEnd/data/export_dicom/*
!BackEnd/data/export_dicom/README
!BackEnd/data/export_dicom/local
BackEnd/data/export_dicom/local/*
!BackEnd/data/export_dicom/local/README
BackEnd/data/certificates/*
!BackEnd/data/certificates/README
BackEnd/data/private_key/*
!BackEnd/data/private_key/README

FrontEnd/.eslintcache
BackEnd/.env
