BackEnd/node_modules
BackEnd/data/database/*
!BackEnd/data/database/README
BackEnd/build
BackEnd/node_modules
BackEnd/data/log/*
!BackEnd/data/log/README
FrontEnd/build
FrontEnd/node_modules

BackEnd/data/export_dicom/salim_cggf.zip
