<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../includes/librairies.ejs %>
  </head>
  <body class="jumbotron">
    <h1 class="text-center"><%= title %></h1>
    <div>
      <div class="form-group">
        <label for="patientName">Patient Name</label>
        <input type="text" name="patientName" id="patientName" class="form-control" placeholder="last name" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Help text</small>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" class="form-control" placeholder="first name" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Help text</small>
      </div>
      <div class="form-group">
        <label for="patientID">Patient ID</label>
        <input type="text" name="patientID" id="patientID" class="form-control" placeholder="Patient ID" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Help text</small>
      </div>
      <div class="form-group">
        <label for="accessionNumber">Accession Number</label>
        <input type="text" name="accessionNumber" id="accessionNumber" class="form-control" placeholder="Accession Number" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Help text</small>
      </div>
      <div class="form-group">
        <label for="dateFrom">Date From</label>
        <input type="date" name="dateFrom" id="dateFrom" class="form-control" placeholder="Date From" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Help text</small>
      </div>
      <div class="form-group">
        <label for="dateTo">Date To</label>
        <input type="date" name="dateTo" id="dateTo" class="form-control" placeholder="Date To" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Help text</small>
      </div>
      <div class="form-group">
        <label for="studyDescription">Study Description</label>
        <input type="text" name="studyDescription" id="studyDescription" class="form-control" placeholder="Study Description" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Help text</small>
      </div>
      <div class="form-group">
        <label for="modality">Modality</label>
        <select class="form-control" name="modality" id="modality" multiple>
          <option value="CT">CT</option>
          <option value="PT">PT</option>
          <option value="NM">NM</option>
          <option value="MR">MR</option>
          <option value="US">US</option>
          <option value="MG">MG</option>
        </select>
        <small id="helpId" class="text-muted">Help text</small>
      </div>
      <div class="form-group text-center">
        <h3>Query AET</h3>
        <% availableAets.forEach(aetName => { 
          %> <input type="button" class="btn btn-info queryAET" value="<%= aetName%>"> 
        <%  
        }); %> 
      </div>
    </div>
    </div>
    <div>
      <table class="table" id="requestTable">
        <thead>
            <tr>
            <td>Name</td>
            <td>ID</td>
            <td>Accession Number</td>
            <td>Date From</td>
            <td>Date To</td>
            <td>Study Description</td>
            <td>Modality</td>
            <td>AET</td>
            <td>Delete</td>
          </tr>
        </thead>
        <tbody>
          
      </tbody>
      </table>
      <input type="button" value="Query List" class="btn btn-info">
    </div>
  </body>

  <script type="text/javascript">
    $("#modality").chosen();
    $("#requestTable").DataTable();
    $(".queryAET").on('click', function(){
      let nameString=$("#patientName").val()+$("#firstName").val();
      let patientID=$("#patientID").val();
      let accessionNumber=$("#accessionNumber").val();
      let dateFrom=$("#dateFrom").val().split('-').join('');
      let dateTo=$("#dateTo").val().split('-').join('');
      let studyDescription=$("#studyDescription").val();
      let modalities=$("#modality").val().join('/');
      let deleteButton='<input type="button" class="btn btn-danger removeRow" value="remove">';
      let aet=$(this).val();

      if(patientID==''){
        patientID='*'
      }

      if(accessionNumber==''){
        accessionNumber='*'
      }

      if(dateFrom==''){
        dateFrom='*'
      }

      if(dateTo==''){
        dateTo='*'
      }

      if(studyDescription==''){
        studyDescription='*'
      }

      if(modalities==''){
        modalities='*'
      }

      var table = $('#requestTable').DataTable();
 
      var rowNode = table
          .row.add( [ nameString , patientID , accessionNumber , dateFrom, dateTo, studyDescription, modalities, aet, deleteButton ] )
          .draw()
          .node();

    });

    $("#requestTable").on('click', '.removeRow', function() {
        var table = $('#requestTable').DataTable();
        var row = table.row( $(this).parents('tr') );
        var rowNode = row.node();
        row.remove();
        table.draw();
    });

  </script>
</html>
