body {
  padding: 50px;
  background-color: #E1E2E5;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url(./wallpaper.jpg);
	padding-top: 100px !important ;
}

a {
  color: #00B7FF;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	  monospace;
  }

.block {
	margin: 0px auto;
	background-color: ghostwhite;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.block-400 {
	max-width: 400px;
}

.block-title {
	padding: 8px 18px;
	text-align: center;
	font-family: SourceSansProItalic;
	font-size: 24px;
	color: white;
	background-color: #891b51;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px 8px 0 0;
}
.block-content {
	padding: 32px;
}

.block-panel {
	margin: auto 16px;
	flex: 1;
}

.block-panel-title {
	color: #1F5EA7;
	font-size: 16px;
	font-family: SourceSansProBold;
}

.link-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-decoration: none;
	display: inline;
	margin: 0;
	padding: 0;
  }
  
  .link-button:hover,
  .link-button:focus {
  text-decoration: none;
  }


.w-100 { max-width: 100px; }
.w-200 { max-width: 200px; }
.w-300 { max-width: 300px; }
.w-400 { max-width: 400px; }
.w-500 { max-width: 500px; }
.w-600 { max-width: 600px; }
.w-700 { max-width: 700px; }


.main-content {
	padding: 12px 64px;
	background-color: white;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.react-bootstrap-table table { table-layout: auto !important; }

.jumbotron {
	background-color: white;
	border-radius: 30px;
}

.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}
